.login-view-website {
  position: absolute;
  background-color: #1c1f22;
  width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-size: 13px !important;
}
.login-view-website a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.login-view-website a:hover {
  opacity: 1;
}
.login-view-website a i {
  font-size: 11px;
}
